In [23]:
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [8]:
spark = SparkSession.builder.master("local[*]").appName('test').getOrCreate()

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [9]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [14]:
df_green = df_green.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
                   .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [15]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [10]:
df_yellow.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: string (nullable = true)

In [16]:
df_yellow = df_yellow.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
                     .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [17]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [20]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [21]:
# Maintaning columns order
common_columns = []
yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)
        
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [25]:
df_green_sel = df_green.select(common_columns).withColumn('service_type', F.lit('green'))

In [26]:
df_yellow_sel = df_yellow.select(common_columns).withColumn('service_type', F.lit('yellow'))

In [27]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [28]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [29]:
df_trips_data.registerTempTable('trips_data')

/home/tania/spark/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [31]:
spark.sql(""" 
SELECT
    service_type,
    count(1) 
FROM 
    trips_data
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [32]:
df_result = spark.sql("""
SELECT
    -- Reveneue grouping
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month,
    service_type,

    -- Revenue calculation
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [33]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         232|2020-01-01 00:00:00|       green|  7108.4500000000035|                502.0|                  32.55|                       0.0|          186.64000000000004|                    75.29999999999964|           7904.939999999998|                                2.75|        1.1428571428571428|       5.600396825396827|
|          61|2020-02-01 00:00:00|       green|   69339.42999999995|               5996.0|                  893.0|        1025.1799999999996|           741.7500000000005|                    999.8999999999397|           79369.61000000077|                              120.75|        1.2360128617363344|      3.5227986444507184|
|          76|2020-03-01 00:00:00|       green|   29693.68000000006|               225.75|                  160.0|                     59.29|           793.7900000000003|                    402.0000000000095|           31531.75999999983|                                 0.0|        1.2048611111111112|       5.929696521095493|
|         168|2020-03-01 00:00:00|       green|  16018.860000000015|                261.5|                  291.5|                    222.31|           624.2900000000003|                   298.50000000000557|          17858.309999999805|                               74.25|        1.2292993630573248|       4.038592375366563|
|          77|2021-11-01 00:00:00|       green|   7459.159999999999|               388.45|                   28.0|                     14.97|           345.0700000000002|                   59.099999999999795|                      8297.5|                                 0.0|        1.3833333333333333|       9.540203045685285|
|         202|2021-11-01 00:00:00|       green|              2671.8|               139.45|                   20.0|                     28.93|          117.89999999999996|                   23.400000000000034|          3009.7300000000014|                                 5.5|                     1.075|        8.06346153846154|
|         138|2021-12-01 00:00:00|       green|   953.7099999999999|                  5.0|                   12.0|        188.33999999999997|          45.849999999999994|                   11.099999999999996|                     1224.25|                                8.25|        1.2432432432432432|       3.962307692307693|
|         194|2020-01-01 00:00:00|       green|  1151.5000000000002|                 41.5|                   11.5|                     11.14|          201.96000000000006|                    9.900000000000002|          1442.3999999999999|                                11.0|        1.2857142857142858|       7.282142857142855|
|         168|2019-12-01 00:00:00|       green|                20.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        21.3|                                 0.0|                       1.0|                    6.54|
|         260|2020-02-01 00:00:00|       green|   80328.48999999998|              3379.75|                 3330.0|         7016.409999999994|           585.6800000000004|                   2081.6999999998015|           97264.58000000799|                               571.5|        1.5792827504445761|       2.552166142407789|
|          70|2020-03-01 00:00:00|       green|   4011.079999999999|                 35.0|                   65.0|                      75.1|          119.08000000000003|                    71.39999999999968|           4404.460000000011|                               13.75|          1.25503355704698|       4.113861788617889|
|          42|2009-01-01 00:00:00|       green|                 7.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                         8.3|                                 0.0|                       1.0|                    1.52|
|         191|2021-10-01 00:00:00|       green|   7550.809999999998|                390.6|                   28.0|                      21.5|          174.77000000000004|                    59.69999999999979|           8228.130000000006|                                 0.0|        1.0526315789473684|      2928.1388442211037|
|         128|2021-11-01 00:00:00|       green|   665.4899999999999|                38.25|                    5.0|                     53.97|                         3.0|                    7.499999999999997|           786.9599999999999|                                11.0|                       1.0|       4692.918800000001|
|         156|2021-12-01 00:00:00|       green|              5012.0|                 90.5|                   17.0|                       0.0|           555.3500000000003|                   20.100000000000016|                     5694.95|                                 0.0|        1.2647058823529411|       24.28970149253731|
|         166|2020-01-01 00:00:00|       green|  176918.84999999998|              8583.75|                 7631.5|         23883.97999999969|           2789.599999999978|                     4685.70000000138|          236168.82999996567|                            13691.75|        1.1976834981780322|       2.447640925176953|
|         195|2020-01-01 00:00:00|       green|  11358.090000000013|                549.5|                  143.0|                    804.62|           255.0700000000001|                   135.29999999999941|          13429.329999999967|                              129.25|         1.211726384364821|       4.585847619047621|
|         237|2020-01-01 00:00:00|       green|             3895.61|                248.5|                    7.5|                       0.0|          176.44000000000005|                   31.500000000000053|           4359.549999999999|                                 0.0|                       1.0|        10.2085046728972|
|         207|2020-01-01 00:00:00|       green|  469.68999999999994|                22.75|                   19.5|                       0.0|          26.770000000000003|                    12.90000000000001|           551.6099999999999|                                 0.0|         1.162162162162162|       2.210222222222222|
|         243|2020-02-01 00:00:00|       green|   41227.25999999997|               1845.5|                  806.0|         2132.679999999999|                      952.05|                    615.8999999999979|          48293.440000000555|                              752.75|        1.1686251468860165|       4.527726651480643|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [36]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')